<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ORDER: Oilseed Rape Developmental Expression Resource</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='content/favicon.ico') }}"/>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js" charset="utf-8"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/selectize.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/nouislider.min.js') }}"></script>
    <script type="text/javascript">{{ searchandplotjs|safe }}</script>
    <script type="text/javascript" src="https://cdn.datatables.net/r/bs/dt-1.10.9,fh-3.0.0/datatables.min.js"></script>
    <script type="text/javascript">
        // An aesthetic thing which unselects the nav tabs when the brand is clicked
        $(document).ready(function(){
            $('a[href="#welcome"').click(function(){
                $('a[data-toggle="tab"').each(function( index, listItem ) {
                    $(listItem).parent().removeClass("active");
                    $(listItem).attr("aria-expanded", "false");
                });
            });
        })
    </script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/selectize.bootstrap3.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/plots.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/nouislider.min.css') }}">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/r/bs/dt-1.10.9,fh-3.0.0/datatables.min.css"/>
</head>
<body>

    <header class="navbar navbar-default navbar-static-top" role="banner">
        <div class="container">
            <div class="navbar-header">
                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="#welcome" data-toggle="tab" class="navbar-brand">ORDER: Oilseed Rape Developmental Expression Resource</a>
            </div>
            <nav class="collapse navbar-collapse" role="navigation">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#about" data-toggle="tab">About</a>
                    </li>
                    <li>
                        <a href="#howtouse" data-toggle="tab">How To Use</a>
                    </li>
                    <li>
                        <a href="#search" data-toggle="tab">Search</a>
                    </li>
                    <li>
                        <a href="#blast" data-toggle="tab">BLAST Search</a>
                    </li>
                    <li>
                        <a href="#table" data-toggle="tab">Table</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>

    <div class="tab-content">
        <div class="tab-pane active" id="welcome">{{ landingPage|safe }}</div>
        <div class="tab-pane" id="about">{{ aboutPage|safe }}</div>
        <div class="tab-pane" id="howtouse">{{ howToUsePage|safe }}</div>
        <div class="tab-pane" id="search">{{ searchPage|safe }}</div>
        <div class="tab-pane" id="blast">{{ blastPage|safe }}</div>
        <div class="tab-pane" id="table">{{ tablePage|safe }}</div>
    </div>
    <div class="device-xs visible-xs"></div>
    <div class="device-sm visible-sm"></div>
    <div class="device-md visible-md"></div>
    <div class="device-lg visible-lg"></div>
</body>
</html>
