{% if checkbox_dict|length != 0 %}
    {% for entry in checkbox_dict %}
        {% if checkbox_dict[entry]['heading']|length != 0 %}
            <h3>{{ checkbox_dict[entry]['heading'] }}</h3>
        {% endif %}
        {% if checkbox_dict[entry]['subheading']|length != 0 %}
            <p class='nicknames'>{{ checkbox_dict[entry]['subheading'] }}</p>
        {% endif %}
        {% for record in checkbox_dict[entry]['records'] %}
            <div class="[ form-group ]">
                <input class="record_checkbox" value="{{ record['name'] }}" homology="{{ checkbox_dict[entry]['heading'] }}" type="checkbox" name="{{ checkbox_dict[entry]['heading'] }}{{ record['name'] }}" id="{{ checkbox_dict[entry]['heading'] }}{{ record['name'] }}" autocomplete="off" />
                <div class="[ btn-group ]" data-toggle="tooltip" title="{{ record['tooltip'] }}">
                    <label for="{{ checkbox_dict[entry]['heading'] }}{{ record['name'] }}" class="[ btn btn-{{ record['label_status'] }} ]">
                        <span class="[ glyphicon glyphicon-ok ]"></span>
                        <span></span>
                    </label>
                    <label for="{{ checkbox_dict[entry]['heading'] }}{{ record['name'] }}" class="[ btn btn-{{ record['label_status'] }} active ]">
                        {{ record['name'] }}
                    </label>
                </div>
            </div>
        {% endfor %}
    {% endfor %}
{% endif %}
