<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 centered">
            <h1 id="sec0" align='center'>ORDER</h1>
            <h3 id="subhead" align="center">Oilseed Rape Developmental Expression Resource</h2>
            <br>
            <img class="img-responsive center-block" style="width:400px;max-width:100%" src="{{ url_for('static', filename='content/bnapus_flower.svg') }}" alt="Brassica napus">
            <br>
            {{ content }}
        </div>
    </div>
</div>
